.x-value-field .provider {
  -fx-padding: 0 3 0 0;
}

.x-range-field .option:fixed {
 -fx-background-color: transparent;
}

.x-table-cell {
  -fx-padding: 0 3 0 3;
  -fx-alignment: center-left;
}

.x-summary-table .table-row-cell:summary {
  -fx-font-weight: bold;
}